.card {
    display: block;
    overflow: hidden;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-decoration: none;
    color: inherit;
}
.card img {
    width: 100%;
    height: 50mm;
    object-fit: cover;
}
.card-grid-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
    justify-content: center;
}
.card-grid-container h1{
    text-align: center;
}
.card-grid-container h2{
    text-align: center;
}